<!-- index.nunjucks -->
{% extends "layout.html" %}
<!--TITLE setting-->
{% block title %} 專案{% endblock %}
<!--Nav setting-->
{% block navigation %}
    {% import 'macros/nav.html' as nav %}
    <!-- Set navitem to active -->
    {{nav.active('index')}}
{% endblock %}

{% block content %} 
<section class="container-fluid project-banner">
  <div class="banner-mask"></div>
  <div class="row justify-content-end">
    <div class="col-md-3 banner-content">
        <h5>我的角色</h5>
        <p>介面設計、形象規劃</p>
        <h5>執行時間</h5>
        <p>2019/01-2021/10</p>
        <h5>類型</h5>
        <p>網頁、APP 設計</p>
    </div>
  </div>
</section>
{% endblock %}
