//共用
html {
    overflow-x: hidden;
}
body {
    font-family: "Lato", "Noto Sans TC", sans-serif;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
a {
    color: $text-color;
    text-decoration: none;
    transition: .3s;
}
footer {
    background-color: $gray-200;
    a {
        color: $gray-600;
        &:hover { 
            color: $gray-800;
        }
    }
}

//首頁
.point-project {
    background-color: $main02-light;
    .year {
        width: 100%;
        position: relative;
        margin-bottom: 0;
        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: calc(100% - 5rem);
            border-bottom: 1px solid #D7D7D7;
        }
    }
    .product-card {
        border-radius: 20px;
        border: 0;
        box-shadow: 0px 4px 20px -3px rgba(0, 0, 0, 0.1);
        margin-top: 1rem;
        color: $text-color;
        &:hover {
            color: black;
            box-shadow: 0px 4px 30px -3px rgba(0, 0, 0, 0.2);
        }
        img {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        span {
            background-color: $main01-light;
            color: white;
            padding: .25rem 1rem;
            border-radius: 20px;
        }
    }
}

//專案詳細內容
.project-banner {
    background-image: url("../images/project1.png");
    @include background-img;
    position: relative;
    padding: 1rem;
    color: #fff;
    .banner-mask {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: linear-gradient(90deg, rgba(250, 251, 253, 0) -20%, #60892F 85%);
    }
    .banner-content {
        z-index: 1;
        h5 {
            font-weight: bold;
            margin-top: 1rem;
            margin-bottom: 0;
            @include media-breakpoint-down(sm) {
                font-size: 1.1rem;
            }
        }
        @include media-breakpoint-down(sm) {
            text-align: right;
        }
    }
}
.project-content {
    .project-menu {
        position: sticky;
        top: 2rem;
        align-self: start;
        a {
            text-decoration: none;
            display: block;
            color: $gray-500;
            transition: .3s;
            line-height: 2;
            &:hover, &:focus {
                color: $gray-600;
            }
        }
        li.active a {
            color: $main01;
            font-weight: bold;
            &:before {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                background-color: $main01;
                display: inline-block;
                margin-left: -20px;
                margin-right: 10px;
                border-radius: 10px;
            }
        }
    }
    h6 {
        color: $main01;
        background-color: lighten($main01, 45%);
        border-radius: 50px;
        padding: .5rem 1.5rem;
        display: inline-block;
        font-weight: bold;
    }
    p {
        font-size: 1.1rem;
    }
    .nav-pills {
        font-size: 1.1rem;
        button {
            color: $gray-500;
            border-bottom: 3px solid $gray-300;
            border-radius: 0;
            &:hover {
                color: $gray-600;
                border-bottom: 3px solid $gray-500;
            }
            &.active {
                color: $main01;
                background-color: #fff;
                border-bottom: 3px solid $main01;
            }
        }
    }
}